<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Data Binding Example</title>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript">
		angular
			.module('app',[])
			.controller("indexController",function($scope){
				$scope.name="";
				$scope.showMessage = function(name) {
					alert(name);
				}
			});
	</script>
</head>
<body ng-controller="indexController">
	<input ng-model="name" placeholder="Enter something you like">
	<button ng-click="showMessage(name)">Show Message</button>
	<div>
		{{name}}
	</div>
</body>
</html>
